ul
  each task in tasks
    li
      h1 #{task.title}
      a(href=task.url) #{task.title}
      h4 #{task.description}
      a(href=task.category.url) #{task.category.title}

Or add new : 

form(name="add-task", method="post")
    div.input
        span.label Title
        input(type="text", name="title")
    div.input
        span.label Id
        input(type="number", name="id")
    div.input
        span.label Description
        textarea(name="description", cols="40", rows="5")
    div.actions
        input(type="submit", value="add")

 a(href='/') back 